In [11]:
import pandas as pd
df=pd.read_csv('House_Rent_Dataset.csv')
df.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   object
 1   BHK                4746 non-null   int64
 2   Rent               4746 non-null   int64
 3   Size               4746 non-null   int64
 4   Floor              4746 non-null   object
 5   Area Type          4746 non-null   object
 6   Area Locality      4746 non-null   object
 7   City               4746 non-null   object
 8   Furnishing Status  4746 non-null   object
 9   Tenant Preferred   4746 non-null   object
 10  Bathroom           4746 non-null   int64
 11  Point of Contact   4746 non-null   object
dtypes: int64(4), object(8)
memory usage: 445.1+ KB

In [15]:
# Checking what cities are available in my dataset
print("Cities in our dataset:")
print(df['City'].unique())

Cities in our dataset:
['Kolkata' 'Mumbai' 'Bangalore' 'Delhi' 'Chennai' 'Hyderabad']

In [17]:
# Counting listings by city
city_counts = df['City'].value_counts()
print("\nNumber of listings per city:")
print(city_counts)

Number of listings per city:
City
Mumbai       972
Chennai      891
Bangalore    886
Hyderabad    868
Delhi        605
Kolkata      524
Name: count, dtype: int64

In [19]:
# rental distribution across all cities
print("Overall rent statistics:")
print(df['Rent'].describe())

Overall rent statistics:
count    4.746000e+03
mean     3.499345e+04
std      7.810641e+04
min      1.200000e+03
25%      1.000000e+04
50%      1.600000e+04
75%      3.300000e+04
max      3.500000e+06
Name: Rent, dtype: float64

In [21]:
# rental ranges for each city
print("\nRent statistics by city:")
for city in df['City'].unique():
    city_data = df[df['City'] == city]
    print(f"\n{city}:")
    print(f"  Average rent: ₹{city_data['Rent'].mean():.0f}")
    print(f"  Median rent: ₹{city_data['Rent'].median():.0f}")
    print(f"  Min rent: ₹{city_data['Rent'].min()}")
    print(f"  Max rent: ₹{city_data['Rent'].max()}")

Rent statistics by city:

Kolkata:
  Average rent: ₹11645
  Median rent: ₹8500
  Min rent: ₹1500
  Max rent: ₹180000

Mumbai:
  Average rent: ₹85321
  Median rent: ₹52000
  Min rent: ₹4500
  Max rent: ₹1200000

Bangalore:
  Average rent: ₹24966
  Median rent: ₹14000
  Min rent: ₹3500
  Max rent: ₹3500000

Delhi:
  Average rent: ₹29462
  Median rent: ₹17000
  Min rent: ₹2000
  Max rent: ₹530000

Chennai:
  Average rent: ₹21614
  Median rent: ₹14000
  Min rent: ₹3000
  Max rent: ₹600000

Hyderabad:
  Average rent: ₹20555
  Median rent: ₹14000
  Min rent: ₹1200
  Max rent: ₹400000

In [23]:
# Filtering data for Bangalore (this is suitable for my analysis)
bangalore_data = df[df['City'] == 'Bangalore'].copy()
print(f"Bangalore dataset size: {len(bangalore_data)} listings")
print(f"This is {len(bangalore_data)/len(df)*100:.1f}% of our total data")

Bangalore dataset size: 886 listings
This is 18.7% of our total data

In [25]:
# BHK distribution in Bangalore
print("Room types available in Bangalore:")
print(bangalore_data['BHK'].value_counts().sort_index())

Room types available in Bangalore:
BHK
1    270
2    431
3    162
4     23
Name: count, dtype: int64

In [27]:
# Checking top areas in Bangalore
print("Top 10 areas in Bangalore:")
print(bangalore_data['Area Locality'].value_counts().head(10))

Top 10 areas in Bangalore:
Area Locality
Electronic City                             24
K R Puram                                   19
Murugeshpalya, Airport Road                 14
Mahadevapura                                13
Hebbal                                      12
whitefield                                  12
Vijayanagar                                 12
Ramamurthy Nagar                            12
Jp Nagar Phase 7, J P Nagar                 11
Electronic City Phase 2, Electronic City    11
Name: count, dtype: int64

In [29]:
# Calculating average rent for each BHK type in Bangalore
print("Average rent by room type in Bangalore:")
rent_by_bhk = bangalore_data.groupby('BHK')['Rent'].agg(['mean', 'median', 'count'])
print(rent_by_bhk.round(0))

Average rent by room type in Bangalore:
         mean    median  count
BHK
1      9368.0    8000.0    270
2     16122.0   15000.0    431
3     61989.0   30000.0    162
4    113043.0  100000.0     23

In [31]:
# Calculatinging rent per room (total rent divided by number of bedrooms)
bangalore_data['Rent_per_room'] = bangalore_data['Rent'] / bangalore_data['BHK']
print("\nRent per room by BHK type:")
rent_per_room = bangalore_data.groupby('BHK')['Rent_per_room'].agg(['mean', 'median'])
print(rent_per_room.round(0))

Rent per room by BHK type:
        mean   median
BHK
1     9368.0   8000.0
2     8061.0   7500.0
3    20663.0  10000.0
4    28261.0  25000.0

In [33]:
# Focusing on 1 BHK and 2 BHK (most relevant for students)
student_housing = bangalore_data[bangalore_data['BHK'].isin([1, 2])]
print(f"Student-relevant housing: {len(student_housing)} listings")
print(f"This represents {len(student_housing)/len(bangalore_data)*100:.1f}% of Bangalore market")

Student-relevant housing: 701 listings
This represents 79.1% of Bangalore market

In [35]:
# Creating the key comparison for university housing
print("STUDENT HOUSING MARKET ANALYSIS - BANGALORE")
print("=" * 50)
print(f"Single student (1 BHK): ₹{bangalore_data[bangalore_data['BHK']==1]['Rent'].median():.0f}/month")
print(f"Shared housing (2 BHK ÷ 2): ₹{bangalore_data[bangalore_data['BHK']==2]['Rent'].median()/2:.0f}/month per student")
print(f"Monthly savings by sharing: ₹{bangalore_data[bangalore_data['BHK']==1]['Rent'].median() - (bangalore_data[bangalore_data['BHK']==2]['Rent'].median()/2):.0f}")

STUDENT HOUSING MARKET ANALYSIS - BANGALORE
==================================================
Single student (1 BHK): ₹8000/month
Shared housing (2 BHK ÷ 2): ₹7500/month per student
Monthly savings by sharing: ₹500

In [37]:
print("Tenant preferences in the dataset:")
print(bangalore_data['Tenant Preferred'].value_counts())

Tenant preferences in the dataset:
Tenant Preferred
Bachelors/Family    694
Bachelors           135
Family               57
Name: count, dtype: int64

In [39]:
print("Furnishing status:")
print(bangalore_data['Furnishing Status'].value_counts())

Furnishing status:
Furnishing Status
Semi-Furnished    584
Unfurnished       211
Furnished          91
Name: count, dtype: int64

In [41]:
# Final summary for my presentation
print("BANGALORE RENTAL MARKET ANALYSIS FOR UNIVERSITY HOUSING")
print("=" * 60)
print(f"Dataset: {len(bangalore_data)} rental listings in Bangalore")
print(f"Student-relevant housing (1-2 BHK): {len(bangalore_data[bangalore_data['BHK'].isin([1,2])])} listings")
print()
print("MARKET PRICING:")
print(f"• Single occupancy (1 BHK): ₹8,000/month")
print(f"• Shared occupancy (2 BHK ÷ 2): ₹7,500/month per student")
print(f"• Cost advantage of sharing: ₹500/month")
print()
print("STUDENT ACCESSIBILITY:")
print(f"• Bachelor-friendly properties: {len(bangalore_data[bangalore_data['Tenant Preferred'].isin(['Bachelors', 'Bachelors/Family'])])} ({len(bangalore_data[bangalore_data['Tenant Preferred'].isin(['Bachelors', 'Bachelors/Family'])])/len(bangalore_data)*100:.1f}%)")
print(f"• Semi-furnished (student preference): {len(bangalore_data[bangalore_data['Furnishing Status']=='Semi-Furnished'])} ({len(bangalore_data[bangalore_data['Furnishing Status']=='Semi-Furnished'])/len(bangalore_data)*100:.1f}%)")
print()
print("UNIVERSITY HOUSING RECOMMENDATION:")
print("• Competitive price range: ₹7,000 - ₹8,500/month")
print("• Focus on semi-furnished options")
print("• Consider shared room configurations")

BANGALORE RENTAL MARKET ANALYSIS FOR UNIVERSITY HOUSING
============================================================
Dataset: 886 rental listings in Bangalore
Student-relevant housing (1-2 BHK): 701 listings

MARKET PRICING:
• Single occupancy (1 BHK): ₹8,000/month
• Shared occupancy (2 BHK ÷ 2): ₹7,500/month per student
• Cost advantage of sharing: ₹500/month

STUDENT ACCESSIBILITY:
• Bachelor-friendly properties: 829 (93.6%)
• Semi-furnished (student preference): 584 (65.9%)

UNIVERSITY HOUSING RECOMMENDATION:
• Competitive price range: ₹7,000 - ₹8,500/month
• Focus on semi-furnished options
• Consider shared room configurations

In [43]:
# Analyzing the top student-friendly areas
print("TOP AREAS FOR STUDENT HOUSING IN BANGALORE")
print("=" * 45)
bachelor_friendly = bangalore_data[bangalore_data['Tenant Preferred'].isin(['Bachelors', 'Bachelors/Family'])]
top_areas = bachelor_friendly['Area Locality'].value_counts().head(5)
print("Most student-friendly areas:")
for area, count in top_areas.items():
    area_data = bachelor_friendly[bachelor_friendly['Area Locality'] == area]
    avg_rent_1bhk = area_data[area_data['BHK']==1]['Rent'].median()
    avg_rent_2bhk = area_data[area_data['BHK']==2]['Rent'].median()
    print(f"• {area}: {count} properties")
    if not pd.isna(avg_rent_1bhk):
        print(f"  - 1 BHK: ₹{avg_rent_1bhk:.0f}")
    if not pd.isna(avg_rent_2bhk):
        print(f"  - 2 BHK: ₹{avg_rent_2bhk:.0f} (₹{avg_rent_2bhk/2:.0f} per student)")
    print()

TOP AREAS FOR STUDENT HOUSING IN BANGALORE
=============================================
Most student-friendly areas:
• Electronic City: 23 properties
  - 1 BHK: ₹7500
  - 2 BHK: ₹14000 (₹7000 per student)

• K R Puram: 18 properties
  - 1 BHK: ₹8250
  - 2 BHK: ₹12500 (₹6250 per student)

• Murugeshpalya, Airport Road: 14 properties
  - 1 BHK: ₹14000
  - 2 BHK: ₹14500 (₹7250 per student)

• Mahadevapura: 13 properties
  - 1 BHK: ₹11250
  - 2 BHK: ₹15000 (₹7500 per student)

• Ramamurthy Nagar: 12 properties
  - 1 BHK: ₹9000
  - 2 BHK: ₹12500 (₹6250 per student)